body {
  background: #333333;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 62.5%;
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
